*,
*::before,
*::after {
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2% 10% 2% 10%;
}
.order-container{
    width: 65%;
    height: 100%;
}
.order-track-container{
    width: 65%;
    height: 100%;
    border: 1px solid black;
}
.ship-address-container{
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

/* order-track-container */
.order-track-container{
    width: 100%;
    height: 100%;
}
.track-text{
    width: 90%;
    height: 100%;
    margin-top: 10px;
}
.track-heading{
    font-size: 25px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

.track-need-text{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

/* order-progress-bar */
.progress-container{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.progress-bar{
    width: 100%;
    height: 100%;
}
.track-offer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.discount-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px;
}
.discount-text{
    margin-bottom: 6px;
}
/* .discount-on-order{

} */

/* Select box css */
.select-container{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border: 1px solid black;
}
.select-elements{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


/*order list container */
.order-list-container{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin-top: 10px;
}
.order-list-elements{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 20px 10px;
}
.order-list-info{
    width: 60%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.order-checkbox{
    width: 5%;
    height: 100%;
    display: inline-flex;
}
.product-img{
    width: 24%;
    height: 100%;
}

.product-info{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: start;
   
   
}
.product-data{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-info-action{
    width: 100%;
    height: 20%;
    display: inline-flex;
    align-items: end;
    justify-content: space-around;
}
.order-product-img{
    width: 100%;
    height: 100%;
}



.order-quantity-container{
    width: 20%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 64, 220);
}
.order-quantity-elements{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 157, 194);
    border:2px solid black
}
.order-quantity-elements>div{
    border-right:2px solid black;
}

.price-container{
    width: 20%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 64, 220);
}

.border{
    border-top: 1px solid black;
}