.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding:2% 10% 2% 10%;
}
.order-container{
    width: 65%;
    height: 100%;
    border: 1px solid black;
}
.ship-address-container{
    width: 30%;
    height: 100%;
    border: 1px solid black;
}